In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df_twitter = pd.read_csv("Data/Twitter_Data.csv")
df_twitter.head()

                                          clean_text  category
0  when modi promised “minimum government maximum...      -1.0
1  talk all the nonsense and continue all the dra...       0.0
2  what did just say vote for modi  welcome bjp t...       1.0
3  asking his supporters prefix chowkidar their n...       1.0
4  answer who among these the most powerful world...       1.0

In [14]:
df_twitter.info(), df_twitter.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162980 entries, 0 to 162979
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   clean_text  162976 non-null  object
 1   category    162973 non-null  float64
dtypes: float64(1), object(1)
memory usage: 2.5+ MB

(None, Index(['clean_text', 'category'], dtype='object'))

In [11]:
df_twitter.describe()

            category
count  162973.000000
mean        0.225436
std         0.781279
min        -1.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000

In [58]:
category_values = df_twitter["category"].value_counts()
print(category_values)

 1.0    72250
 0.0    55213
-1.0    35510
Name: category, dtype: int64